#div1 {
    width: 60%;
    float: left;
    height: 210px;
    font-family: calibri;
}
#div2 {
    width: 40%;
    float: left;
    height: 210px;
}

img.photo {
    height: 120px;
    width: 120px;
    margin-top: 40px;
    border-radius: 60%;
    border : 5px solid white;
    padding: 5px;
}
img:hover {
    box-shadow: 0 0 0 2px rgba(0, 140, 186, 0.5);
}
hr.BelowPhoto {
    margin-top: 34px;
}
#div3 {
    width: auto;
    height: 150px;
    margin-top: 230px;
    position: absolute;
    font-family: calibri;
}
#div4 {
    width: 23%;
    height: 220px;
    margin-top: 160px;
    font-family: calibri;
    font-size: 18px;
    float: left;
}
#div5 {
    width: 77%;
    height: 220px;
    margin-top: 160px;
    font-family: calibri;
    font-size: 18px;
    float: left;
}
hr.skills {
    margin-top: 78px;
}
ul {
    list-style-type: none;
}
ul.skills {
    font-weight: bold;
}
p {
    font-family: calibri;
    font-size: 18px;
    display: inline;
    width: 80%;
}
#div6 {
    width: 23%;
    height: 450px;
    margin-top: 15px;
    font-family: calibri;
    font-size: 18px;
    float: left;
}
#div7 {
    width: 77%;
    height: 450px;
    margin-top: 15px;
    font-family: calibri;
    font-size: 18px;
    float: left;
}
li {
    width: 90%;
}
ul.project1 {
    border-bottom-style: dashed;
    border-bottom-width: thin;
    font-weight: bold;
}
ul.project2 {
    border-bottom-style: dashed;
    border-bottom-width: thin;
}
#div8 {
    width: auto;
    height: 160px;
    margin-top: 490px;
    position: relative;
    font-family: calibri;
    font-size: 18px;
}
#div9 {
    width: auto;
    height: 160px;
    margin-top: 5px;
    position: relative;
    font-family: calibri;
    font-size: 18px;
}
#div10 {
    width: auto;
    height: 350px;
    font-family: calibri;
    font-size: 18px;
}
#div11 {
    width: auto;
    height: 130px;
    font-family: calibri;
    font-size: 18px;
}
#div12 {
    width: auto;
    height: 90px;
    font-family: calibri;
    font-size: 18px;
}
#div13 {
    width: auto;
    height: 90px;
    font-family: calibri;
    font-size: 18px;
}
#div14 {
    width: 23%;
    height: 240px;
    font-family: calibri;
    font-size: 18px;
    float: left;
}
#div15 {
    width: 77%;
    height: 240px;
    font-family: calibri;
    font-size: 18px;
    float: left;
}
#div16 {
    width: 30%;
    height: 250px;
    font-family: calibri;
    font-size: 18px;
    float: left;
}
#div17 {
    width: 70%;
    height: 250px;
    font-family: calibri;
    font-size: 18px;
    float: left;
}
#div18 {
    width: 30%;
    height: 170px;
    font-family: calibri;
    font-size: 18px;
    float: left;
}
#div19 {
    width: 70%;
    height: 170px;
    font-family: calibri;
    font-size: 18px;
    float: left;
}
#div20 {
    width: 30%;
    height: 160px;
    font-family: calibri;
    font-size: 18px;
    float: left;
}
#div21 {
    width: 70%;
    height: 160px;
    font-family: calibri;
    font-size: 18px;
    float: left;
}
#div22 {
    width: 30%;
    height: 200px;
    font-family: calibri;
    font-size: 18px;
    float: left;
}
#div23 {
    width: 70%;
    height: 200px;
    font-family: calibri;
    font-size: 18px;
    float: left;
}
#div24 {
    width: 30%;
    height: 130px;
    font-family: calibri;
    font-size: 18px;
    float: left;
}
#div25 {
    width: 70%;
    height: 130px;
    font-family: calibri;
    font-size: 18px;
    float: left;
}